# Lab 2:

## import libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

## import datasets

In [5]:
dataset=pd.read_csv("C:\\Users\\Student\\Downloads\\Data.csv")

In [6]:
dataset.head()

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes

In [7]:
#numerical cols descriptive statistics
dataset.describe()

             Age        Salary
count   9.000000      9.000000
mean   38.777778  63777.777778
std     7.693793  12265.579662
min    27.000000  48000.000000
25%    35.000000  54000.000000
50%    38.000000  61000.000000
75%    44.000000  72000.000000
max    50.000000  83000.000000

In [18]:
#categoricxal cols descriptive statistics
dataset.describe(include='object')

       Country Purchased
count       10        10
unique       3         2
top     France        No
freq         4         5

## Preprocessing steps

### Step1-Divide the dataframe into input/indepedent and output/dependent

In [14]:
X=dataset.iloc[:,:-1]
y=dataset.iloc[:,-1]
print(X)

   Country   Age   Salary
0   France  44.0  72000.0
1    Spain  27.0  48000.0
2  Germany  30.0  54000.0
3    Spain  38.0  61000.0
4  Germany  40.0      NaN
5   France  35.0  58000.0
6    Spain   NaN  52000.0
7   France  48.0  79000.0
8  Germany  50.0  83000.0
9   France  37.0  67000.0

In [16]:
X=dataset.iloc[:,:-1]
y=dataset.iloc[:,-1]
print(y)

0     No
1    Yes
2     No
3     No
4    Yes
5    Yes
6     No
7    Yes
8     No
9    Yes
Name: Purchased, dtype: object

### Step2-handle the missing dataset

In [21]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
Country      10 non-null object
Age          9 non-null float64
Salary       9 non-null float64
Purchased    10 non-null object
dtypes: float64(2), object(2)
memory usage: 400.0+ bytes

In [22]:
from sklearn.impute import SimpleImupter
imputer=SimpleImputer(missing_value = np.nan,strategy='mean')
imputer.fit(X.iloc[:,1:3])
X.iloc[:,1:3] = imputer.transform(X.iloc[:,1:3])

ImportError: cannot import name 'SimpleImupter' from 'sklearn.impute' (C:\Users\Student\Anaconda3\lib\site-packages\sklearn\impute.py)

### Step3-Encoding categorical data

1.Encoding the independent ariables(i/p feayures/X)

In [24]:
#one hot encoder -more than 2 categories
#level encoder-2 categories
X['Country'].value_counts()

France     4
Spain      3
Germany    3
Name: Country, dtype: int64